$primary-color: #24d2dd;
$ff-title: "Poppins";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    $primary-color 0%,
    rgba(47, 135, 216, 72%) 100%
  );
  background-size: contain;
  background-repeat: no-repeat;
}
